<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<File name="logFichero" fileName="c:/proyectos/brator/log/rest-angular.log">
			<PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.example.demo" additivity="false" level="debug">
			<AppenderRef ref="logFichero" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="logFichero" />
		</Root>
	</Loggers>
</Configuration>